@import "vars";
@import "mixin";

@keyframes pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.3);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}




.modal {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;

}

.modal .content {
    position: relative;
    padding: 10px;
    width: 800px;
    height: 600px;
    border-radius: 8px;
    background-color: orange;
    box-shadow: rgba(112, 128, 175, 0.2)0px 16px 24px 0px;
    transform: scale(0);
    transition: transform300ms cubic-bezier(0.57, 0.21, 0.69, 1.25);

    .text {
        text-align: center;
        margin-top: 50px;

        #h {
            font-size: 2em;
            font-weight: bold;
            margin-bottom: 50px;
            color: white;
        }

        a {
            font-size: 1.1em;
            color: white;
            transform: translate(-50%, -50%);

            &:hover {
                text-decoration: none;
                font-size: 1.2em;
                transition: 1s all;
            }
        }

        img {
            width: 200px;
            display: block;
            margin: 0 auto;
            margin-top: 80px;

        }
    }

}

.modal .close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    border-radius: 8px;
    background-color: white;
    clip-path: polygon(0 10%, 10% 0, 50% 40%, 89% 0, 100% 10%, 60% 50%, 100% 90%, 90% 100%, 50% 60%, 10% 100%, 0 89%, 40% 50%);

}

.modal.open {
    opacity: 1;
    visibility: visible;

}

.modal.open .content {
    transform: scale(1);

}

html {
    scroll-behavior: smooth;
}

.hamburger-menu {
    display: none;
}

.fixedbutton {
    display: inline-block;
    position: fixed;
    transform: translate(30%, 1690%);
    z-index: 1;

    .btn {
        background-color: #FFA500;
        border: none;
        font-weight: bold;
        padding: 13px 20px;
        animation: pulse 2s infinite;
    }
}

header {
    height: 100px;
    position: fixed;
    width: 100%;
    background: transparent;
    z-index: 1;

    .flexbox {
        display: flex;
        justify-content: space-between;

        #logo {
            margin-top: 20px;
            border-radius: 10%;
            filter: drop-shadow(2px 2px 2px black);

            img {
                width: 60px;
            }
        }

        nav {
            padding-top: 55px;

            ul {
                display: flex;
                justify-content: space-between;
                gap: 50px;

                li {
                    margin-left: 50px;

                    a {
                        color: white;
                        padding-bottom: 5px;
                        position: absolute;
                        font-weight: bold;
                        font-size: 1.1em;
                        transform: translate(-50%, -50%);

                        &:hover {
                            text-decoration: none;
                            font-weight: bold;
                            font-size: 1.18em;
                            transition: 0.1s all;
                        }

                        #whitehome {
                            width: 38px;
                            position: absolute;
                            transform: translate(-50%, -50%);

                            &:hover {
                                font-weight: bold;
                                width: 41px;
                                transition: 0.1s all;
                            }
                        }

                        #blackhome {
                            width: 48px;
                            position: absolute;
                            transform: translate(-50%, -50%);
                            display: none;

                            &:hover {
                                font-weight: bold;
                                width: 52px;
                                transition: 0.1s all;
                            }
                        }

                    }
                }
            }
        }
    }
}

main {
    .hero {
        background-image: url(https://3.bp.blogspot.com/-37AjC4B9Hec/XGLmdMkjumI/AAAAAAAACjM/30jfjZwAsXAc2pmI0mQ5SrTCgdrVINAfgCKgBGAs/w0/hailee-steinfeld-fitness-brunette-girl-4K-188.jpg);
        background-size: cover;
        height: 800px;
        background-attachment: fixed;

        .gradient {
            background: rgb(0, 191, 255);
            background: linear-gradient(180deg, rgba(0, 191, 255, 1) 0%, rgba(0, 191, 255, 0.40379901960784315) 0%);
            height: 800px;

            .wframe {
                padding-top: 230px;
                text-align: center;

                h1 {
                    margin-bottom: 30px;
                    margin-top: 100px;
                    color: white;
                    filter: drop-shadow(2px 2px 2px black);
                }

                p {
                    font-size: 1.1em;
                    color: white;
                    filter: drop-shadow(2px 2px 2px black);
                    font-weight: bold;
                }

                .btn {
                    background: none;
                    outline: none;
                    display: block;
                    width: 200px;
                    margin: 0 auto;
                    color: black;
                    border: none;
                    font-weight: bold;
                    margin-top: 50px;
                    border-radius: 5px;
                    background-color: white;

                    &:hover {
                        filter: drop-shadow(1px 1px 1px black);
                        color: black;
                        border-radius: 30px;
                        transition: 1s all;
                    }
                }
            }
        }
    }

    .content {
        background-color: white;

        .profile {
            background-color: $lightgray;
            height: 600px;
            transform: translateY(-30%);
            box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px 10px;

            .flexbox {
                display: flex;
                justify-content: space-between;

                .left {
                    width: 30%;

                    img {
                        width: 100%;
                        height: 500px;
                    }
                }

                .right {
                    width: 70%;

                    h2 {
                        text-align: center;
                        margin-top: 70px;
                        margin-bottom: 60px;

                    }

                    p {
                        padding: 0px 100px 0px 50px;
                        margin: 0 auto;
                    }
                }

            }


        }

        .service {
            margin-top: 80px;
            background-color: $skyblue;

            h3 {
                text-align: center;
                color: white;
                padding-top: 100px;
                padding-bottom: 100px;
                font-weight: bold;
                filter: drop-shadow(2px 2px 2px black);
            }

            .btn {
                background-color: white;
                outline: none;
                display: block;
                width: 200px;
                margin: 0 auto;
                color: $skyblue;
                border: none;
                font-weight: bold;
                transform: translateY(-200%);
                filter: drop-shadow(1px 1px 1px gray);

                &:hover {
                    background-color: $lightgray;
                    border-radius: 30px;
                    transition: 1s all;
                }
            }

            .serviceframe {
                display: flex;
                justify-content: space-around;
                padding-bottom: 120px;

                .services {
                    width: 20%;
                    text-align: center;



                    .emoji {
                        margin-bottom: 50px;

                        img {
                            width: 90px;
                            filter: drop-shadow(2px 2px 2px gray);
                        }
                    }

                    p {
                        color: white;
                        margin-bottom: 50px;
                        font-weight: bold;
                    }

                    .mainp {
                        font-weight: bold;
                        font-size: 1.3em;
                        filter: drop-shadow(1px 1px 1px black);
                    }
                }
            }


        }

        .border {
            width: 100%;
            background-color: $lightgray;

            h4 {
                margin-top: 150px;
                margin-bottom: 100px;
                text-align: center;
                font-weight: bold;
                filter: drop-shadow(2px 2px 2px $lightgray2);
            }

            h5 {
                text-align: center;
                margin-bottom: 50px;
                font-weight: bold;
                filter: drop-shadow(2px 2px 2px $lightgray2);
            }

            h6 {
                text-align: center;
                font-weight: bold;
                font-size: 1.2em;
                filter: drop-shadow(2px 2px 2px $lightgray2);
            }

            p {
                margin: 70px;
                text-align: center;
            }

            .btn {
                background-color: $skyblue;
                outline: none;
                display: block;
                width: 200px;
                margin: 0 auto;
                color: white;
                border: none;
                font-weight: bold;
                margin-bottom: 100px;
                filter: drop-shadow(1px 1px 1px gray);

                &:hover {
                    border-radius: 30px;
                    transition: 1s all;
                }
            }
        }

        .last {
            background-attachment: fixed;
            background-color: $skyblue;

            .flexbox {
                display: flex;
                justify-content: space-between;

                .left {
                    width: 50%;

                    h6 {
                        font-size: 2em;
                        margin-top: 150px;
                        margin-bottom: 50px;
                        color: white;
                        font-weight: bold;
                        filter: drop-shadow(1px 1px 1px black);
                    }

                    p {
                        color: white;
                    }

                    .sides {
                        display: flex;
                        justify-content: space-between;
                        margin-top: 80px;

                        .btn {
                            background-color: white;
                            outline: none;
                            display: block;
                            width: 250px;
                            color: $skyblue;
                            border: none;
                            font-weight: bold;
                            filter: drop-shadow(1px 1px 1px gray);

                            &:hover {
                                background-color: $lightgray;
                                border-radius: 30px;
                                transition: 1s all;
                            }
                        }
                    }
                }

                .right {
                    width: 50%;
                    margin: 150px 0px 100px 0px;

                    .phoneborder {
                        width: 300px;
                        background-image: url(https://toppng.com/uploads/thumbnail//erie-otters-mobile-app-on-android-empty-phone-frame-11562941661bkdubzcuxt.png);
                        background-size: cover;
                        height: 620px;
                        margin: 0 auto;

                        img {
                            width: 280px;
                            height: 498px;
                            border-radius: 5px;
                            transform: translate(4.1%, 13%);
                        }
                    }
                }
            }
        }
    }
}


.hero3 {
    background-image: url(https://i.redd.it/y7k1jmzei7061.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    background-attachment: fixed;

    .gradient {
        background: rgb(0, 191, 255);
        background: linear-gradient(180deg, rgba(0, 191, 255, 1) 0%, rgba(0, 191, 255, 0.40379901960784315) 0%);
        height: 800px;

        .wframe {
            padding-top: 230px;
            text-align: center;

            h1 {
                margin-bottom: 30px;
                margin-top: 100px;
                color: white;
                filter: drop-shadow(2px 2px 2px black);
            }

            p {
                font-size: 1.1em;
                color: white;
                filter: drop-shadow(2px 2px 2px black);
                font-weight: bold;
            }


        }
    }
}

.hero4 {
    background-image: url(https://pbs.twimg.com/media/D3rsBo3XoAAvpXC.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    background-attachment: fixed;

    .gradient {
        background: rgb(0, 191, 255);
        background: linear-gradient(180deg, rgba(0, 191, 255, 1) 0%, rgba(0, 191, 255, 0.40379901960784315) 0%);
        height: 800px;

        .wframe {
            padding-top: 230px;
            text-align: center;

            h1 {
                margin-bottom: 30px;
                margin-top: 100px;
                color: white;
                filter: drop-shadow(2px 2px 2px black);
            }

            p {
                font-size: 1.1em;
                color: white;
                filter: drop-shadow(2px 2px 2px black);
                font-weight: bold;
            }


        }
    }
}

.hero2 {
    background-image: url(https://a-static.besthdwallpaper.com/hailee-steinfeld-fitness-workout-wallpaper-2560x1920-43717_27.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    background-attachment: fixed;

    .gradient {
        background: rgb(0, 191, 255);
        background: linear-gradient(180deg, rgba(0, 191, 255, 1) 0%, rgba(0, 191, 255, 0.40379901960784315) 0%);
        height: 800px;

        .wframe {
            padding-top: 230px;
            text-align: center;

            h1 {
                margin-bottom: 30px;
                margin-top: 100px;
                color: white;
                filter: drop-shadow(2px 2px 2px black);
            }

            p {
                font-size: 1.1em;
                color: white;
                filter: drop-shadow(2px 2px 2px black);
                font-weight: bold;
            }


        }
    }
}

main {
    .content {
        .video {
            padding: 100px 0px 50px 0px;

            h2 {
                text-align: center;
                margin-bottom: 150px;
            }
        }

        .clients {
            padding: 100px 0px;

            h3 {
                text-align: center;
                margin-bottom: 150px;
            }

            .row {
                .col-sm {
                    img {
                        width: 300px;
                    }
                }
            }
        }
    }
}



.flexbox {
    display: flex;
    justify-content: space-between;

    .placanja {
        display: block;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 10px;
        width: 320px;
        text-align: center;
        background-color: $lightgray;
        margin: 100px 0px;

        .cena {
            padding: 20px 50px;

            #meseci {
                margin-bottom: 10px;
                font-weight: bold;
                font-size: 1.1em;
            }

            #line {
                width: 100%;
                border: 1px solid black;
            }

            #cena {
                font-size: 50px;
                margin-top: 30px;
                font-weight: bold;
                margin-bottom: 10px;
            }

            .cenadva {
                font-weight: bold;
                font-size: 1.1em;
            }

            .usteda {
                font-weight: bold;
                font-size: 1.1em;
                margin-bottom: 50px;
            }

            .sadrzaj {
                margin-bottom: 10px;
                font-weight: bold;
            }

            .btn {
                background-color: $skyblue;
                border: none;
                font-weight: bold;
                font-size: 1.2em;
                margin-top: 40px;
                margin-bottom: 20px;
                padding: 5px 50px;
                filter: drop-shadow(1px 1px 1px black);

                &:hover {
                    border-radius: 30px;
                    transition: 1s all;
                }
            }
        }

        .top {
            height: 50px;
            background-color: $skyblue;
            filter: drop-shadow(1px 1px 1px gray);
        }

        .bottom {
            height: 50px;
            background-color: $skyblue;
            filter: drop-shadow(1px 1px 1px gray);
        }
    }

}

.mainpay {
    width: 100%;
    background-color: $lightgray;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 10px;
    margin-bottom: 100px;

    .cena {
        padding: 50px 100px;
        display: inline-block;

        #meseci {
            text-align: center;
            font-weight: bold;
            font-size: 1.3em;
        }

        #line {
            width: 100%;
            border: 1px solid black;
        }

        #cena {
            font-size: 80px;
            margin-top: 30px;
            font-weight: bold;
            margin-bottom: 10px;
        }

        .cenadva {
            font-weight: bold;
            font-size: 1.3em;
            margin-left: 20px;
        }

        .usteda {
            font-weight: bold;
            font-size: 1.3em;
            margin-left: 28px;
        }
    }

    .framesadzaj {
        display: inline-block;
        margin-left: 200px;

        .sadrzaj {
            margin-bottom: 10px;
            font-weight: bold;
        }

        .btn {
            background-color: $skyblue;

            border: none;
            font-weight: bold;
            font-size: 1.2em;
            margin-top: 40px;
            margin-bottom: 20px;
            padding: 5px 50px;
            filter: drop-shadow(1px 1px 1px black);

            &:hover {
                border-radius: 30px;
                transition: 1s all;
            }
        }
    }

    .top {
        height: 50px;
        background-color: $skyblue;
        filter: drop-shadow(1px 1px 1px gray);
    }

    .bottom {
        height: 50px;
        background-color: $skyblue;
        filter: drop-shadow(1px 1px 1px gray);
    }
}

.contactpage {
    padding: 190px 0px 0px 0px;

    .formframe {
        box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px 10px;
        background-color: $lightgray;
        transform: translateY(-50%);
        p {
            margin-bottom: 50px;
            font-weight: bold;
        }

        .left {
            width: 50%;
            padding: 100px 50px;
        }

        .right {
           
        }
        #submit{
            background-color: $skyblue;
            outline: none;
            display: block;
            width: 200px;
            margin: 0 auto;
            margin-top: 80px;
            color: white;
            border: none;
            font-weight: bold;
            padding: 10px 20px;
            filter: drop-shadow(1px 1px 1px gray);

            &:hover {
                border-radius: 30px;
                transition: 1s all;
            }
        }
    }
}


footer {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    .flexbox {
        display: flex;
        justify-content: space-between;

        .left {
            width: 50%;
            padding: 70px 0px 20px 0px;

            p {
                color: gray;
            }
        }



        .right {
            .socialmedia {
                width: 350px;
                height: 50px;
                margin: 0 auto;
                margin-top: 80px;
                display: flex;
                justify-content: space-between;

                .tviter {
                    width: 50px;
                    background-image: url(https://thumbs.dreamstime.com/b/%D0%BE%D1%81%D0%BD%D0%BE%D0%B2%D0%BD%D1%8B%D0%B5-rgb-zaporizhzhia-ukraine-august-collection-popular-social-media-logos-printed-paper-facebook-viber-tik-tok-230742211.jpg);
                    background-size: 400px;
                    background-position: -9px -4px;
                }

                .instagram {
                    width: 50px;
                    background-image: url(https://thumbs.dreamstime.com/b/%D0%BE%D1%81%D0%BD%D0%BE%D0%B2%D0%BD%D1%8B%D0%B5-rgb-zaporizhzhia-ukraine-august-collection-popular-social-media-logos-printed-paper-facebook-viber-tik-tok-230742211.jpg);
                    background-size: 400px;
                    background-position: -65px -4px;
                }

                .tiktok {
                    width: 50px;
                    background-image: url(https://thumbs.dreamstime.com/b/%D0%BE%D1%81%D0%BD%D0%BE%D0%B2%D0%BD%D1%8B%D0%B5-rgb-zaporizhzhia-ukraine-august-collection-popular-social-media-logos-printed-paper-facebook-viber-tik-tok-230742211.jpg);
                    background-size: 400px;
                    background-position: -288px -4px;
                }

                .facebook {
                    width: 50px;
                    background-image: url(https://thumbs.dreamstime.com/b/%D0%BE%D1%81%D0%BD%D0%BE%D0%B2%D0%BD%D1%8B%D0%B5-rgb-zaporizhzhia-ukraine-august-collection-popular-social-media-logos-printed-paper-facebook-viber-tik-tok-230742211.jpg);
                    background-size: 400px;
                    background-position: -175px -4px;
                }

                .gmail {
                    width: 50px;
                    background-image: url(https://iconape.com/wp-content/png_logo_vector/gmail-2.png);
                    background-repeat: no-repeat;
                    background-size: 50px;
                }
            }
        }
    }
}


@media (max-width: 375px) {


    body {
        width: 100%;
    }

    header {
        display: none;
    }

    .hamburger-menu {
        position: fixed;
        width: 100%;
        display: block;
        z-index: 1;
        background-color: $lightgray;
        height: 100px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

        #logores {
            float: right;
            margin-top: 27px;
            border-radius: 10%;
            background-color: $skyblue;
            margin-right: 50px;
            filter: drop-shadow(2px 2px 2px black);

            img {
                width: 45px;
            }
        }
    }

    #menu__toggle {
        opacity: 0;
    }

    #menu__toggle:checked+.menu__btn>span {
        transform: rotate(45deg);
    }

    #menu__toggle:checked+.menu__btn>span::before {
        top: 0;
        transform: rotate(0deg);
    }

    #menu__toggle:checked+.menu__btn>span::after {
        top: 0;
        transform: rotate(90deg);
    }

    #menu__toggle:checked~.menu__box {
        left: 0 !important;
    }

    .menu__btn {
        position: fixed;
        top: 50px;
        left: 30px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 2;
    }

    .menu__btn>span,
    .menu__btn>span::before,
    .menu__btn>span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #616161;
        transition-duration: .25s;
    }

    .menu__btn>span::before {
        content: '';
        top: -8px;
    }

    .menu__btn>span::after {
        content: '';
        top: 8px;
    }

    .menu__box {
        display: block;
        position: fixed;
        top: 0;
        left: -100%;
        width: 300px;
        height: 100%;
        margin: 0;
        padding: 80px 0;
        list-style: none;
        background-color: #ECEFF1;
        box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
        transition-duration: .25s;
        z-index: 1;
        padding-top: 100px;
    }

    .menu__item {
        display: block;
        padding: 12px 24px;
        color: #333;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
        transition-duration: .25s;
    }

    .menu__item:hover {
        background-color: #CFD8DC;
    }

    main {
        .hero {
            background-position: -280px 100px;

            .gradient {
                .wframe {
                    h1 {
                        margin-top: 0px;
                    }

                    .btn {
                        margin-top: 50px;
                    }
                }
            }
        }

        .content {
            .profile {
                .flexbox {
                    flex-wrap: wrap;

                    .left {
                        width: 100%;
                        height: 300px;

                        img {
                            height: 300px;
                            width: 300px;
                            display: block;
                            margin: 0 auto;
                        }
                    }

                    .right {
                        width: 100%;

                        p {
                            text-align: center;
                            padding: 0px;
                        }
                    }
                }
            }

            .service {
                .serviceframe {
                    flex-wrap: wrap;
                    gap: 50px;

                    .services {
                        width: 80%;

                        &:nth-child(1) {
                            transform: translateY(0%);
                        }

                        &:nth-child(4) {
                            transform: translateY(0%);
                        }
                    }
                }
            }

            .border {
                p {
                    margin: 0px 30px;
                    text-align: center;
                    margin-bottom: 70px;
                }

                .btn {
                    margin-bottom: 50px;
                }
            }

            .last {
                .flexbox {
                    flex-wrap: wrap;

                    .left {
                        width: 100%;
                        text-align: center;

                        .sides {
                            display: flex;
                            flex-wrap: wrap;
                            gap: 30px;

                            .btn {
                                width: 100%;
                            }
                        }
                    }

                    .right {
                        width: 100%;

                        .phoneborder {
                            width: 100px;
                        }
                    }
                }
            }
        }
    }

    footer {
        .flexbox {
            display: flex;
            flex-wrap: wrap;

            .right {
                width: 100%;

                .socialmedia {
                    margin-bottom: 50px;
                    margin-top: 10px;
                }
            }

            .left {
                width: 100%;
                text-align: center;
            }
        }
    }
}


@media (max-width: 414px) {


    body {
        width: 100%;
    }

    header {
        display: none;
    }

    .hamburger-menu {
        position: fixed;
        width: 100%;
        display: block;
        z-index: 1;
        background-color: $lightgray;
        height: 100px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

        #logores {
            float: right;
            margin-top: 27px;
            border-radius: 10%;
            background-color: $skyblue;
            margin-right: 50px;
            filter: drop-shadow(2px 2px 2px black);

            img {
                width: 45px;
            }
        }
    }

    #menu__toggle {
        opacity: 0;
    }

    #menu__toggle:checked+.menu__btn>span {
        transform: rotate(45deg);
    }

    #menu__toggle:checked+.menu__btn>span::before {
        top: 0;
        transform: rotate(0deg);
    }

    #menu__toggle:checked+.menu__btn>span::after {
        top: 0;
        transform: rotate(90deg);
    }

    #menu__toggle:checked~.menu__box {
        left: 0 !important;
    }

    .menu__btn {
        position: fixed;
        top: 50px;
        left: 30px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 2;
    }

    .menu__btn>span,
    .menu__btn>span::before,
    .menu__btn>span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #616161;
        transition-duration: .25s;
    }

    .menu__btn>span::before {
        content: '';
        top: -8px;
    }

    .menu__btn>span::after {
        content: '';
        top: 8px;
    }

    .menu__box {
        display: block;
        position: fixed;
        top: 0;
        left: -100%;
        width: 300px;
        height: 100%;
        margin: 0;
        padding: 80px 0;
        list-style: none;
        background-color: #ECEFF1;
        box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
        transition-duration: .25s;
        z-index: 1;
        padding-top: 100px;
    }

    .menu__item {
        display: block;
        padding: 12px 24px;
        color: #333;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
        transition-duration: .25s;
    }

    .menu__item:hover {
        background-color: #CFD8DC;
    }

    main {
        .hero {
            background-position: -410px 100px;
        }

        .content {
            .profile {
                height: 100%;
                transform: translateY(-15%);

                .flexbox {
                    flex-wrap: wrap;

                    .left {
                        width: 100%;
                        height: 350px;

                        img {
                            height: 350px;
                        }
                    }

                    .right {
                        width: 100%;

                        p {
                            max-width: 300px;
                            padding-bottom: 50px;
                        }
                    }
                }
            }

            .service {
                .serviceframe {
                    flex-wrap: wrap;
                    gap: 50px;

                    .services {
                        width: 80%;

                        &:nth-child(1) {
                            transform: translateY(0%);
                        }

                        &:nth-child(4) {
                            transform: translateY(0%);
                        }
                    }
                }
            }

            .border {
                p {
                    margin: 0px 30px;
                    text-align: center;
                    margin-bottom: 70px;
                }

                .btn {
                    margin-bottom: 50px;
                }
            }

            .last {
                .flexbox {
                    flex-wrap: wrap;

                    .left {
                        width: 100%;
                        text-align: center;

                        .btn {
                            width: 100%;
                        }
                    }

                    .right {
                        width: 100%;

                        .phoneborder {
                            width: 150px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 820px) {


    body {
        width: 100%;
    }

    header {
        display: none;
    }

    .hamburger-menu {
        position: fixed;
        width: 100%;
        display: block;
        z-index: 1;
        background-color: $lightgray;
        height: 100px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

        #logores {
            float: right;
            margin-top: 27px;
            border-radius: 10%;
            background-color: $skyblue;
            margin-right: 50px;
            filter: drop-shadow(2px 2px 2px black);

            img {
                width: 45px;
            }
        }
    }

    #menu__toggle {
        opacity: 0;
    }

    #menu__toggle:checked+.menu__btn>span {
        transform: rotate(45deg);
    }

    #menu__toggle:checked+.menu__btn>span::before {
        top: 0;
        transform: rotate(0deg);
    }

    #menu__toggle:checked+.menu__btn>span::after {
        top: 0;
        transform: rotate(90deg);
    }

    #menu__toggle:checked~.menu__box {
        left: 0 !important;
    }

    .menu__btn {
        position: fixed;
        top: 50px;
        left: 30px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 2;
    }

    .menu__btn>span,
    .menu__btn>span::before,
    .menu__btn>span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #616161;
        transition-duration: .25s;
    }

    .menu__btn>span::before {
        content: '';
        top: -8px;
    }

    .menu__btn>span::after {
        content: '';
        top: 8px;
    }

    .menu__box {
        display: block;
        position: fixed;
        top: 0;
        left: -100%;
        width: 300px;
        height: 100%;
        margin: 0;
        padding: 80px 0;
        list-style: none;
        background-color: #ECEFF1;
        box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
        transition-duration: .25s;
        z-index: 1;
        padding-top: 100px;
    }

    .menu__item {
        display: block;
        padding: 12px 24px;
        color: #333;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
        transition-duration: .25s;
    }

    .menu__item:hover {
        background-color: #CFD8DC;
    }

    main {
        .hero {
            background-position: -410px 100px;
        }

        .content {
            .profile {
                height: 100%;
                transform: translateY(-15%);

                .flexbox {
                    flex-wrap: wrap;

                    .left {
                        width: 100%;
                        height: 350px;

                        img {
                            height: 350px;
                        }
                    }

                    .right {
                        width: 100%;

                        p {
                            max-width: 300px;
                            padding-bottom: 50px;
                        }
                    }
                }
            }

            .service {
                .serviceframe {
                    flex-wrap: wrap;
                    gap: 50px;

                    .services {
                        width: 80%;

                        &:nth-child(1) {
                            transform: translateY(0%);
                        }

                        &:nth-child(4) {
                            transform: translateY(0%);
                        }
                    }
                }
            }

            .border {
                p {
                    margin: 0px 30px;
                    text-align: center;
                    margin-bottom: 70px;
                }

                .btn {
                    margin-bottom: 50px;
                }
            }

            .last {
                .flexbox {
                    flex-wrap: wrap;

                    .left {
                        width: 100%;
                        text-align: center;

                        .btn {
                            width: 100%;
                        }
                    }

                    .right {
                        width: 100%;

                        .phoneborder {
                            width: 300px;
                        }
                    }
                }
            }
        }
    }
}